{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block content %}
{% include 'banner.html' %}

<div class="content text-center">
  <p class="display-4 my-4">{{ page_header }}</p>
</div>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Товар</th>
      <th>Количество</th>
      <th>Убрать</th>
      <th>Цена</th>
      <th>Общая стоимость</th>
    </tr>
  </thead>
  <tbody>
    
    {% for item in cart %}
    {% with item.product as product %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>
        <form action="{% url 'cart:cart_remove' product.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Убрать" class="btn btn-outline-danger">
        </form>
      </td>
      <td class="num">{{ item.price }} ₽</td>
      <td class="num">{{ item.cost }} ₽</td>
    </tr>
    
    {% endwith %}
    {% endfor %}
    <tr class="total">
      <td>Сумма</td>
      <td colspan="3"></td>
      <td class="num">{{ cart.get_total_price }} ₽</td>
    </tr>
    
  </tbody>
</table>

{% endblock content %}

