.card {
  font-family: 'Oswald', sans-serif !important;
}


.banner-image img{
  background-image: url("{% static 'images\mainscr.jpg' %}") ;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card mx-1 text-center {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.enlarge:hover {
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
  z-index: 2;
}

.container-fluid {
  gap: 25px;
}

.td{
  font-family: 'Oswald', sans-serif !important;
}
.th{
  font-family: 'Oswald', sans-serif !important;
}
.tr{

  font-family: 'Oswald', sans-serif !important;
}

.nav-item{
  font-family: 'Oswald', sans-serif;
}

.display-4 {
  font-family: 'Oswald', sans-serif !important;
}

.nav-item:hover{
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
  z-index: 2;
}
.cart:hover{
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
  z-index: 2;
}

.msg{
  display: block;
}
.msg{
  border-color: #eae3d1;
  background-color: #fff9e4;
}

.msg{
  margin: 20px 0;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 3px;
}

.textbox text, .textbox textarea {
  padding: 10px 14px;
  border: 1px solid #777;
  border-radius: 3px;
}