{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block content %}
{% include 'banner.html' %}

<div class="content text-center">
  <p class="display-4 my-4">{{ page_header }}</p>
</div>
<div class="contend text-center">
<input type="button" class="btn btn-transparent btn-lg" onclick="history.back();" value="Меню &#10229;" style="    position: relative;
display: inline-block;
padding: 5px 16px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
user-select: none;
border: 1px solid;
border-radius: 6px;
-webkit-appearance: none;
appearance: none;"/>
</div>
<br>
<br>

<div class="container-fluid d-flex flex-row flex-wrap justify-content-evenly">
  {% for product in products %}
  <div class="enlarge card mx-1 text-center" style="width: 300px;" data-aos="zoom-in">
    <div class="card-body">
      <img class="card-img-top" src="{{ product.image.url }}" alt="Фото {{ product.name }}" style="max-width: 500px; max-height: 500px;">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.price }} ₽</p>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ form }}
        {% csrf_token%}
        <input type="submit" class="btn btn-light" value="Добавить в корзину">
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
