<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sushiman</title>

  <!--Подключение css bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'C:\Users\levso\Desktop\Sushiman\project\static\css\style.css' %}">

  <style>
    .banner-image{
      background-image: url("{% static 'images\mainscr.jpg' %}") ;
      width: 100%;
      height: 100%;

    }
  </style>
</head>
<body>


  <!--Подключение шрифта-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap" rel="stylesheet">

  <!--Подключение js bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


<!--Navigation bar-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="{% static 'images\logo.png' %}" alt="" width="100" height="40">
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-target="$navbarNav"
        data-bs-toggler ="collapse"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle Navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Адреса</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Акции</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Новости</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">О компании</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<!--Navigation bar-->

<!--Banner-->
  <div class="banner-image d-flex justify-content-center align-items-center">
    <img src="{% static 'C:\Users\levso\Desktop\Sushiman\project\static\images\mainscr.jpg'%}" alt="" class="banner-image">
    
  </div>
<!--Banner-->
  <br>
  <br>
  <br>

  <div class="content text-center">
    <p style="font-family: 'Oswald', sans-serif; font-size: 50px; background: transparent;">꧁МЕНЮ꧂</p>
  </div>

  <br>
  <br>
  <!-- Main Content Area-->
  <div class="container-fluid d-flex flex-row flex-wrap justify-content-evenly">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Sushi.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Суши</h5>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Rolls.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Роллы</h5>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Baked.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <a class="btn btn-primary stretched-link" href="/baked/">Запечённые роллы</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Sets.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Наборы</h5>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Tempured.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Темпура</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Wok.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Лапша Wok</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Soups.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Супы</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\HotAndSalads.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Горячее и салаты</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\MiniRolls.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Мини-роллы</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\MagRolls.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Маг-роллы</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Vegan.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Вегетарианское меню</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Deserts.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Десерты</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Drinks.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Напитки</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Souse.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Всё для суши</h5>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images\Pizza.jpg' %}" alt="Card image cap" style="max-width: 500px; max-height: 500px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Пицца</h5>
      </div>
    </div>
  </div>

<!-- Main Content Area-->

<!--Navbar changing color-->
  <script>
    var nav = document.querySelector('nav');

    window.addEventListener('scroll', function(){
      if(window.pageYOffset >100){
        nav.classList.add('bg-dark', 'shadow-5-strong');
      }else{
        nav.classList.remove('bg-dark', 'shadow-5-strong');
      }
    });
  </script>
<!--Navbar changing color-->


<!--Cards changing size when hover-->
  <style>
    .card:hover{
      text-shadow: none !important;
      box-sizing: border-box !important;
      cursor: pointer !important;
      transition: all 0.3s ease !important;
      -webkit-transform: scale(1.1) !important;
      -ms-transform: scale(1.1) !important;
      transform: scale(1.1) !important;
      z-index: 2;
    }
  </style>
<!--Cards changing size when hover-->
<br>
<br>


<!--Footer-->
<footer class="blog-footer">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Наверх</a>
    </p>
    <p class="mb-1">©2021-2022 Сеть магазинов «Сушисан». Все права защищены.</p>
  </div>
</footer>
<!--Footer-->
<style>
  .blog-footer{
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
  }
</style>


</body>
</html>